// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  @include container-width;
  padding: $main-desctop-padding;
  background-color: #000;
}

.nav {
  position: relative;
  z-index: 13;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: svg("logo.svg") center/44px 42px no-repeat;
}

.nav__logo {
  width: 44px;
  height: 42px;
}

.nav__burger {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  background-image: svg("burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 51px;
  height: 42px;
}

.nav__burger_open {
  background-image: svg("close-icon.svg");
}

@media (max-width: 1400px) {
  .header {
    padding: $main-mobile-padding;
  }

  .nav__burger {
    display: block;
  }

  .nav__icon-menu {
    display: none;
  }

  .nav__button_type_enter,
  .nav__button_type_favourite,
  .nav__button_type_search {
    display: none;
  }
  .promo__title {
    margin: 0 0 78px;
  }
}
