.favourite__card {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 10px;
  margin: 30px 0 0;
  background-color: #fff;
}

.favourite__img {
  @include image-setting;
  max-width: 320px;
}

.favourite__price-wrap {
  display: flex;
  align-items: flex-end;
}

.favourite__discount {
  @include usual-text("Inter");
  margin: 0 10px 0 0;
  padding: 0 0 10px;
  text-decoration: line-through;
  color: rgba(26, 26, 26, 0.5);
}

.favourite__price {
  @include big-text("Inter");
  margin: 0;
  color: #1a1a1a;
}

.favourite__currency {
  display: inline-block;
  @include usual-text("Inter");
  margin: 0 0 0 10px;
}

.favourite__handle {
  display: flex;
  flex-direction: column;
  & button:last-child {
    margin: 10px 0 0;
  }
}

// .favourite__button {
//   border: 1px solid #1a1a1a;
//   margin: 0;
//   padding: 10px 100px 10px 10px;
//   height: 100px;
//   @include usual-text("Manrope");
//   text-transform: uppercase;
//   text-align: left;
// }

// .favourite__button_state_add {
//   background-color: #1a1a1a;
//   color: #fff;
//   background: #1a1a1a svg("add-icon.svg") 90%/30px 30px
//     no-repeat;
// }

// .favourite__button_state_added {
//   background-color: transparent;
//   background: transparent svg("added-icon.svg") 90%/30px 30px
//     no-repeat;
// }

// .favourite__button_state_remove {
//   background-color: transparent;
//   background: transparent svg("basket-remove-icon.svg") 90%/30px
//     30px no-repeat;
// }

// @media zone

@include md {
  .favourite__card {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

@include md {
  .favourite__card {
    padding: 10px;
  }
}


