.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 60px 90px 112px;
}

.collection_item {
  display: grid;
  grid-template-columns: 3fr;
  gap: 12px;
}

.collection__figure {
  margin: 0;
}

.collection__image {
  @include image-setting;
}

.collection__content {
  display: none;
  justify-content: center;
  flex-direction: column;
}

.collection__title {
  margin: 0 0 50px;
  @include big-text("Inter");
}

.collection__text {
  margin: 0;
  max-width: 513px;
  @include usual-text("Inter");
  color: #000;
}

@media (max-width: 1400px) {
  .collection {
    grid-template-columns: 1fr;
    padding: 0 0 112px;
  }

  .collection_item {
    grid-template-columns: 3fr 4fr;
  }

  .collection__figure {
    max-height: 722px;
  }

  .collection__image {
    max-height: 649px;
  }

  .collection__content {
    display: flex;
  }
}

@media (max-width: 768px) {
  .collection {
    gap: 90px;
  }
  .collection_item {
    grid-template-columns: 1fr;
  }

  .collection__title {
    margin: 0 0 15px;
  }
}
