.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    margin: 0 28px 0 0;
  }
}

.menu__text {
  @include usual-text("Inter");
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.menu__link {
  opacity: $button-state-opacity;
  transition: $main-transition;
}

.menu__link:last-child {
  margin: 0;
}

.menu__link:hover {
  opacity: $button-hover-opacity;
}

.menu__link:hover .menu__link_more {
  opacity: $button-hover-opacity;
}

.menu__link_more {
  position: relative;
}

.menu__item_small {
  display: inline-block;
}

.menu__link_more::after {
  content: "";
  background: svg('more-arrow.svg');
  width: 20px;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
  opacity: $button-state-opacity;
}

// @media zone

@include xxl {
  .menu__position_nav {
    display: none;
  }

  .menu__item_small {
    display: none;
  }
}
