.buttonfav {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    width: 24px;
    height: 21px;
}

.buttonfav_type_like {
  background: svg("like-icon.svg") center/contain no-repeat;
}

.buttonfav_type_dislike {
  background: svg("dislike-icon.svg") center/contain no-repeat;
}