// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @type Length
// Small smartphones
$screen-xsm-max: 425px !default;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px !default;

// Small tablets (portrait view)
$screen-md-max: 768px !default;

// Tablets and small desktops
$screen-lg-max: 992px !default;

// Large tablets and desktops
$screen-xl-max: 1200px !default;

// Extra Large tablets and desktops
$screen-xxl-max: 1200px !default;

// Отступы оберточных блоков
$main-desctop-padding: 50px 90px;
$main-mobile-padding: 50px 20px;

/* эффекты наведения */
$main-transition: 0.3s;
$main-link-state-opacity: 0.5;
$main-link-hover-opacity: 1;
$button-state-opacity: 1;
$button-hover-opacity: 0.5;
$transition-time: 0.2s;

/* цвета */
$background-content-color: #fff;
