.basket__title {
  @include decorative-big-text;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.basket__price {
  @include big-text("Inter");
  margin: 0;
  color: #1a1a1a;
}

.basket__currency {
  display: inline-block;
  @include usual-text("Inter");
  margin: 0 0 0 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 100px 0 0;
}

.total__button {
  margin: 20px 0 0;
  padding: 18px 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  @include usual-text("Inter");
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  transition: $transition-time;
  opacity: $button-state-opacity;
}

.total__button:hover {
  opacity: $button-hover-opacity;
}

.total__button_disabled {
  opacity: $button-hover-opacity;
  background-color: #bfbfbf;
}