.showcase {
  box-sizing: border-box;
  display: none;
  grid-template-columns: 330px 1fr;
  gap: 33px;
  max-width: 963px;
  min-height: 701px;
  margin: 0 auto 0;
  background-color: #fff;
}

.showcase_position_main {
  display: none;
  padding: $main-mobile-padding;
}

.showcase_position_header {
  display: grid;
}

.showcase__figure {
  max-width: 330px;
  width: 100%;
  margin: 0;
}

.showcase__image {
  @include image-setting;
}

.showcase__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 701px;
}

.showcase__title {
  margin: 0;
  @include decorative-big-text;
  text-transform: uppercase;
}

.showcase__subtitle {
  @include usual-text("Manrope");
}

.showcase__button {
  margin: 0;
  padding: 18px 0;
  border: none;
  box-sizing: border-box;
  max-width: 298px;
  @include usual-text("Inter");
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  transition: $transition-time;
  opacity: $button-state-opacity;
}

.showcase__button:hover {
  opacity: $button-hover-opacity;
}

.showcase__description {
  margin: 0;
  @include usual-text("Inter");
}

@media (max-width: 1400px) {
  .showcase_position_main {
    display: grid;
  }

  .showcase_position_header {
    display: none;
  }
}

@media (max-width: 768px) {
  .showcase {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .showcase__content {
    min-height: auto;
  }

  .showcase__button {
    margin: 0 auto 18px;
    padding: 18px;
  }
}
