.content {
  box-sizing: border-box;
  max-width: 1739px;
  width: 100%;
  margin: 0 auto;
  padding: 68px 0 50px;
  background-color: #f1f1f1;
  background-color: $background-content-color;
}

.content__menu {
  display: flex;
  justify-content: space-between;
  padding: 0 90px 0 0;
  text-transform: uppercase;
}

.content__title {
  min-width: 201px;
  margin: 0;
  padding: 8px 29px 7px 90px;
  text-align: right;
  @include usual-text("Inter");
  color: #fff;
  background-color: #1a1a1a;
}

.content__button {
  margin: 0;
  padding: 7px 0 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  opacity: $main-link-state-opacity;
  text-transform: uppercase;
}

.content__button:hover {
  opacity: $main-link-hover-opacity;
}

.content__button_position_top {
  @include usual-text("Inter");
}

.content__button_position_bottom {
  margin: 20px auto 0;
  display: none;
  @include usual-text("Manrope");
}

// @media zone

@include xxl {
  .content {
    padding: $main-mobile-padding;
    max-width: 963px;
  }

  .content__menu {
    padding: 0;
  }
  .content__title {
    text-align: center;
    margin: 0 auto 82px;
    padding: 12px 0;
  }

  .content__button_position_top {
    display: none;
  }

  .content__button_position_bottom {
    display: block;
  }
}
