.content {
  box-sizing: border-box;
  max-width: 1739px;
  width: 100%;
  margin: 0 auto;
  padding: 68px 0 50px;
  background-color: #f1f1f1;
  background-color: $background-content-color;
}

.content__button_position_bottom {
  margin: 20px auto 0;
  display: none;
  @include usual-text("Manrope");
}

// @media zone

@include xxl {
  .content {
    padding: $main-mobile-padding;
    max-width: 963px;
  }

  .content__button_position_bottom {
    display: block;
  }
}
