.content {
  box-sizing: border-box;
  max-width: 1739px;
  width: 100%;
  margin: 0 auto;
  padding: 68px 0 50px;
  background-color: #f1f1f1;
  background-color: $background-content-color;
}

// @media zone

@include xxl {
  .content {
    padding: $main-mobile-padding;
    max-width: 963px;
  }
}
