.main {
  @include container-width;
  background-color: #fff;
  flex: 1 0 auto;
}

.promo {
  min-height: 629px;
  background: image("promo.jpg") center/cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__content {
  display: flex;
  flex-direction: column;
}

.promo__title {
  @include big-text("Inter");
  text-transform: uppercase;
}

.promo__button {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 177px;
  height: 79px;
  background-color: #000;
  @include usual-text("Inter");
  color: #fff;
  opacity: $button-state-opacity;
}

.promo__button:hover {
  opacity: $button-hover-opacity;
}

// @media zone

@include xxl {
  .promo__button {
    width: 132px;
    height: 42px;
  }
}
