.more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 60px 90px 0;
}

.more_item {
  display: grid;
  grid-template-columns: 3fr;
  gap: 12px;
}

.more__figure {
  margin: 0;
  height: 672px;
}

.more__image {
  @include image-setting;
}

.more__title {
  margin: 0 0 50px;
  @include usual-text("Inter");
}

.collection__text {
  margin: 0;
  max-width: 513px;
  @include usual-text("Inter");
  color: #000;
}

// @media zone

@include xxl {
  .more {
    grid-template-columns: 1fr;
    padding: 0 0 112px;
  }

  .more__figure {
    max-height: 722px;
    height: auto;
  }

  .more__image {
    max-height: 649px;
  }
}

@include md {
  .more {
    gap: 90px;
  }
  .more_item {
    grid-template-columns: 1fr;
  }

  .more__title {
    margin: 0 0 15px;
  }
}
