.partition {
  padding: 60px 90px 0;
}

.partition__paths {
  margin: 0 0 30px;
}

.partition__content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  gap: 20px;
  justify-content: center;
}

.partition__card:hover {
  background-color: #f1f1f1;
}

.partition__link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  height: 80%;
}

.partition__link_add_border {
  background-color: #f1f1f1;
  padding: 38px;
}

.partition__info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.partition__text {
  margin: 0 0 8px;
  @include usual-text("Inter");
  text-transform: uppercase;
}

.partition__price {
  margin: 0;
  @include usual-text("Inter");
  text-transform: uppercase;
}

.partition__title {
  @include usual-text("Inter");
  text-transform: uppercase;
  text-align: center;
}

.partition__img {
  @include image-setting;
}

// @media zone

@include lg {
  .partition {
    padding: 0;
  }
}
