.header__content {
  @include container-width;
  padding: 20px 90px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 3px solid #000;
}

.header__logo {
  display: block;
  width: 44px;
  height: 42px;
  background: svg("logo.svg") center/44px 42px no-repeat;
}

.header__title {
  margin: 0;
  @include decorative-big-text();
  text-transform: uppercase;
  text-align: center;
}

.header__contacts {
  margin: 0;
  @include usual-text("Inter");
  text-align: right;
  text-decoration: none;
  color: #000;
}

@include xxl {
  .header__content {
    padding: 20px;
  }
}

@include sm {
  .header__content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .header__title {
    text-align: left;
  }

  .header__contacts {
    text-align: left;
  }
}
