.dealer {
  padding: $main-desctop-padding;
  background-color: #fff;
  height: 100%;
}

.dealer__text {
  margin: 0;
  @include usual-text("Inter");
}

// @media zone

@include xxl {
  .dealer {
    padding: $main-mobile-padding;
  }
}
