.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: $transition-time;
}

.overlay:hover {
  opacity: 1;
}

.overlay__link {
  @include usual-text("Inter");
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

// @media zone

@include xxl {
  .overlay__link {
    @include decorative-big-text;
  }
}

@include md {
  .overlay__link {
    @include usual-text("Manrope");
  }
}
