.store {
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 123px 90px 207px;
  background-color: rgba(#000, 0.5);
}

.store_open {
  display: flex;
}

.store__link-menu {
  display: none;
  align-self: flex-start;
  padding: 35px 0;
  flex-direction: column;
  & li:not(:last-child) {
    margin-bottom: 35px;
  }
  & a {
    border-bottom: 1px solid #fff;
  }
}

.store__icon-menu {
  box-sizing: border-box;
  display: none;
  width: 100%;
  padding: 35px 0 0;
}

.store__wrapper {
  width: 100%;
}

.store__content {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 35px;
  background-color: #fff;
  padding: 35px;
}

.store__collection {
  display: flex;
  flex-direction: column;
}

.store__title {
  display: inline-block;
  margin: 0;
  @include usual-text("Manrope");
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.store__subtitle {
  margin: 0;
  @include usual-text("Inter");
  text-transform: uppercase;
}

.store__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.store__link {
  text-decoration: none;
  display: inline-block;
  margin: 18px 0 0;
  color: #000;
}

.store__link::first-letter {
  text-transform: uppercase;
}

.store__advertisement {
  margin: auto 0 0;
}

.advertisement {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 57px;
  background: url(../../../images/promo.png) center/cover no-repeat;
}

.advertisement__title {
  margin: 0;
  padding: 156px 0 0;
  @include big-text("Manrope");
  text-transform: uppercase;
  color: #fff;
}

.advertisement__subtitle {
  margin: 0;
  padding: 156px 19px 0;
  @include usual-text("Inter");
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
}

.store__new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .store__link-menu {
    display: flex;
  }

  .menu__link_more {
    display: none;
  }

  .store__icon-menu {
    display: block;
  }

  .store__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .store__title {
    margin: 0 0 30px;
  }

  .store__new {
    display: none;
  }

  .store__advertisement {
    display: none;
  }
}

@media (max-width: 768px) {
  .store {
    padding: 123px 20px 207px;
  }
}
