.contacts {
  padding: $main-desctop-padding;
  background-color: #fff;
}

.contacts__title {
  @include decorative-big-text;
  text-transform: uppercase;
}

.contacts__title_position_data {
  margin: 0 0 56px;
}

.contacts__title_position_map {
  margin: 0;
  text-align: center;
}

.contacts__title_position_cities {
  margin: 0 0 56px;
  text-align: center;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__city {
  @include big-text("Inter");
  margin: 0 0 40px;
  text-transform: uppercase;
}

.contacts__subtitle {
  @include decorative-big-text;
  margin: 0;
  text-transform: uppercase;
}

.contacts__item {
  @include usual-text("Inter");
  margin: 0 0 40px;
  text-transform: uppercase;
}

.contacts__tel {
  display: inline-block;
  @include decorative-big-text;
  margin: 0 0 40px;
  text-decoration: none;
  color: #000;
}

.contacts__icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.contacts__icon {
  display: inline-block;
  @include button-size;
  margin: 0 10px 0 0;
  text-decoration: none;
  transition: $transition-time;
  opacity: $button-state-opacity;
}

.contacts__icon:hover {
  opacity: $button-hover-opacity;
}

.contacts__icon_type_instagram {
  @include button-image(url("../../../images/svg/instagram-icon.svg"));
}

.contacts__icon_type_vk {
  @include button-image(url("../../../images/svg/vk-icon.svg"));
}

.contacts__icon_type_tg {
  @include button-image(url("../../../images/svg/tg-icon.svg"));
}

.contacts__icon_type_facebook {
  @include button-image(url("../../../images/svg/facebook-icon.svg"));
}

.contacts__cities {
  padding: 90px 0;
}

.contacts__cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 340px));
  justify-content: center;
  gap: 30px;
}

.card {
  padding: 50px 11px;
  border: 1px solid black;
  text-align: center;
}

.card__title {
  margin: 0 0 40px;
  @include usual-text("Inter");
  text-transform: uppercase;
}

.card__subtitle {
  margin: 0;
  @include usual-text("Inter");
  text-transform: uppercase;
}

.card__text {
  margin: 0 0 40px;
  @include usual-text("Inter");
}

.card__button {
  text-decoration: none;
  @include usual-text("Inter");
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  border: 1px solid #000;
  padding: 5px 45px 5px 14px;
  background-image: url("../../../images/svg/map-icon.svg");
  background-position: 95% center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: $button-state-opacity;
}

.card__button:hover {
  opacity: $button-hover-opacity;
}

@media (max-width: 1400px) {
  .contacts {
    padding: $main-mobile-padding;
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__maps {
    display: none;
  }
}
