.notfound {
    padding: 60px 90px 0;
}

.notfound__title, .notfound__subtitle {
    @include big-text('Inter');
    text-transform: uppercase
}

.notfound__text {
    @include usual-text('Inter');
    text-transform: uppercase;
}

// @media zone

@include xxl {
    .notfound {
        padding: 0;
    }
}